

body {
    background-color: #e7e5e4;
    text-align: center;
}

#pageTitle {
    font-family: monospace;
    font-size: 22px;
    font-weight: 100;
}

#menu, #smallScreenMenu {
    background-color: #a6a09b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu a, #smallScreenMenu a {
    text-decoration: none;
    color: black; 
    margin: 7px;
    padding: 10px;
    font-size: 20px;
}

#menu a:hover, #smallScreenMenu a:hover {
    background-color: #585451;
    color: white;
}

#smallScreenMenu a {
    display: block;
    width: 25%;
    margin: 0 auto;
}

.pageContent {
    background-color: #ccbecb;
    margin: 0 auto;
    border: 4px solid #a18f9f;
    border-radius: 10px;
    width: 450px;
    margin-top: 30px;
    padding: 20px;
    
}

.pageContent p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

footer {
    background-color: #a6a09b;
    margin-top: 40px;
    padding: 8px;
}

#mainBtn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.frameworkBtn {
    text-decoration: none;
    color: black;
    background-color: #fdf4ff;
    padding: 10px;
    border: 3px solid #a18f9f;
    border-radius: 10px;
}

.frameworkBtn:hover {
    background-color: #ccbecb;
    border: 3px solid #fdf4ff;
}

#menu {
    display: block;
}

#hamburgerSymbol {
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    background-color: #a6a09b;
    padding: 10px;
}

    #smallScreenMenu {
        display: none;
    }


@media (max-width: 640px) {
    #smallScreenMenu {
        display: none;
    }

    #hamburgerSymbol {
        display: flex;
    }

    #menu {
        display: none;
    }

    .pageContent {
        width: 80%;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 20px;
    }

    .pageContent {
        width: 600px;
        font-size: 20px;
    }
}
